/* Słupek */
.tab {
  position: relative;
  width: 0px; /* Szerokość słupka */
  background-color: #8B5A2B; /* Brązowy kolor */
  height: 100vh; /* Pełna wysokość ekranu */
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 10px 0;
  position: fixed;
  left: 10%; /* Możesz dostosować położenie */
}

/* Przyciski w kształcie tabliczek ">" */
.tab button {
  position: relative;
  background-color: #dddddd; /* Jasnobrązowy kolor */
  color: #777777;
  padding: 12px 30px;
  border: none;
  cursor: pointer;
  font-size: 16px;
  margin: 10px 0;
  white-space: nowrap;
  text-align: left;
  display: flex;
  align-items: center;
  justify-content: center;
  font-weight: bold;
  width: 150px;
}

/* Tworzenie kształtu ">" */
.tab button::after {
  content: "";
  position: absolute;
  right: -20px; /* Pozycja grotka */
  top: 50%;
  width: 0;
  height: 0;
  border-top: 20px solid transparent;
  border-bottom: 20px solid transparent;
  border-left: 20px solid #dddddd; /* Kolor tabliczki */
  transform: translateY(-50%);
}

.tab button.active-butt::after {
  border-left: 20px solid #b6b6b6; /* Kolor tabliczki */
}


/* Create an active/current "tab button" class */
.tab button.active-butt {
  background-color: #b6b6b6;
}

/* Style the tab content */
.tabcontent {
  float: left;
  padding: 15px 0 0 0;
  border: 1px solid #ccc;
  width: 120%;
  border-left: none;
  height: auto;
  display: none;
  background: #dddddd;
  color: #777777;
  margin-left: -15%;
}

img {
  width: 50%;
  height: 50%;
}

h3 {
  padding: 0 15px;
}