@import url("https://fonts.googleapis.com/css2?family=Fasthand&family=Inconsolata:wght@200;300;400;500;600;700;800;900&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Quicksand:wght@300&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Great+Vibes&display=swap");

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: Arial, Helvetica, sans-serif;
}

::-webkit-scrollbar {
  width: 10px;
}

/* Track */
::-webkit-scrollbar-track {
  background: #fff;
}

/* Handle */
::-webkit-scrollbar-thumb {
  background: #a0bfbd;
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
  background: #a0bfbd;
}

body {
  background: #fff;
  height: 100%;
  width: 100%;
}

.top-line {
  background: #a0bfbd;
  width: 100%;
  height: 25px;
}

.back-main {
  font-family: "Fasthand", sans-serif;
  text-decoration: none;
  font-size: 30px;
  bottom: 0;
  color: #2e5e61;
  display: flex;
  justify-content: center;

  font-family: "Quicksand", sans-serif;
  letter-spacing: 3px;
  font-size: 26px;
  font-weight: 600;
  color: #2e5e61;
  margin-top: 1%;
  margin-bottom: 1%;
}

.li {
  height: 100%;
  list-style: none;
  display: flex;
  justify-content: center;
}

.a {
  font-family: Arial, Helvetica, sans-serif;
  margin: 0 0.5%;
  text-decoration: none;
  font-size: 12px;
  line-height: 200%;
  padding: 9px;
  color: #2e5e61;
  letter-spacing: 5px;
  transition: all 0.5s ease;
}

.active {
  text-decoration: none;
  font-size: 12px;
  line-height: 200%;
  padding: 9px;
  background: #a0bfbd;
  color: #fff;
  letter-spacing: 5px;
  border-radius: 5px 5px 0 0;
}

.a:hover {
  text-decoration: none;
  font-size: 12px;
  line-height: 200%;
  padding: 7px 9px 5pz 9px;
  background: #a0bfbd;
  color: #fff;
  letter-spacing: 5px;
  border-radius: 5px 5px 0 0;
  -webkit-transition: all 1s ease;
  transition: all 1s ease;
}

.about-tiana-img {
  margin: 0 0 0 7%;
  width: 25%;
  float: left;
  border: 1px solid #e0e0e0;
  background: #e0e0e0;
  box-shadow: 0px 2px 4px rgba(0, 0, 0, 0.1);
  padding: 10px 10px 60px 10px;
}

.about-title {
  margin-top: 1%;
  font-family: Arial, Helvetica, sans-serif;
  text-transform: uppercase;
  letter-spacing: 3px;
  font-size: 18px;
  font-weight: 300;
  color: #2e5e61;
}

.about-title-title-shipping {
  margin-top: 1%;
  font-family: Arial, Helvetica, sans-serif;
  text-transform: uppercase;
  letter-spacing: 3px;
  font-size: 18px;
  font-weight: 300;
  color: #2e5e61;
  text-align: center;
}

.about-title-shipping {
  margin-top: 1%;
  font-family: Arial, Helvetica, sans-serif;
  text-transform: uppercase;
  letter-spacing: 3px;
  font-size: 18px;
  font-weight: 300;
  color: #2e5e61;
  text-align: center;
}

.about-text {
  font-family: "Quicksand", sans-serif;
  font-weight: 300;
  max-width: 50%;
  margin: 1.3% auto 0 35%;
  letter-spacing: 1px;
  font-family: "Quicksand", sans-serif;
  font-size: 16px;
  font-weight: 600;
  color: #2e5e61;
}

.about-text-shipping {
  font-family: "Quicksand", sans-serif;
  font-weight: 300;
  letter-spacing: 1px;
  text-align: center;
  font-family: "Quicksand", sans-serif;
  font-size: 16px;
  font-weight: 600;
  color: #2e5e61;
  padding-left: 10%;
  padding-right: 10%;
  margin-bottom: 2%;
  margin-top: 0;
}

.name-tiana {
  font-family: "Fasthand", sans-serif;
  font-weight: 100;
  margin: 1% auto 0 68%;
  font-size: 30px;
  color: #2e5e61;
}

.cytata {
  font-family: "Fasthand", sans-serif;
  margin: 3% auto 0 50%;
  font-size: 23px;
  letter-spacing: 3px;
  color: #2e5e61;
}

.about-back-back {
  padding: 1% 0 3% 0;
  margin: 0 15%;
  background-color: #a0bfbd;
  color: #fff;
}

.about-back-back-shipping {
  padding: 1% 0 3% 0;
  margin: 0 15%;
  background-color: #a0bfbd;
  color: #fff;
  margin-top: -2%;
}

div.about-home {
  margin-top: 2%;
  padding: 3% 5% 12% 5%;
  background: #a0bfbd;
}

.div-home {
  background: #a0bfbd;
  padding: 1% 20%;
  margin-bottom: 2%;
}

.div-home img {
  margin-top: 0;
  border: 1px solid #e0e0e0;
  background: #e0e0e0;
  box-shadow: 0px 2px 4px rgba(0, 0, 0, 0.1);
  padding: 10px;
  width: 100%;
  margin: 1% 0 3% 0; 
}

div.about-home img {
  margin-left: 20%;
  float: left;
  width: 20%;
  padding-bottom: 10px;
}

div.about-home h2 {
  font-family: "Quicksand", sans-serif;
  margin-left: 50%;
  letter-spacing: 3px;
  font-size: 26px;
  font-weight: 600;
  color: #2e5e61;
  margin-top: 3%;
  margin-left: 45%;
}

div.about-home h1 {
  font-family: "Quicksand", sans-serif;
  margin: 2% auto 0 50%;
  color: #2e5e61;
  font-size: 24px;
  margin-left: 45%;
}

div.about-home p {
  font-family: "Quicksand", sans-serif;
  font-size: 16px;
  font-weight: 600;
  max-width: 40%;
  margin-left: 50%;
  margin-bottom: 3%;
  color: #2e5e61;
  margin-left: 45%;
}

div.about-home .button-about {
  margin: 1000px auto 0 5%;
  font-weight: 400;
  font-size: 14px;
  padding: 15px 20px;
  color: #2e5e61;
  background: #e7e8ed;
  border: #f0f1f6;
  border-radius: 2px;
  text-decoration: none;
  transition: all 0.5s ease;
}

div.about-home .button-about:hover {
  background: #333;
  color: #fff;
  -webkit-transition: all 1s ease;
  transition: all 1s ease;
}

.text2 {
  max-width: 50%;
}

.message-sent {
  background: #a0bfbd;
  color: #fff;
  max-width: fit-content;
  padding: 12px;
  margin-bottom: 6%;
  display: flex;
  justify-content: center;
}

.message-sent-div {
  margin: 23% 0 27% 0;
}

footer {
  background: #a0bfbd;
  color: #fff;
  margin-top: 4%;
  padding: 15px 0 40px 0;
}

footer .shipping {
  margin-top: 0.05%;
  margin-right: 19%;
  float: right;
  font-weight: 400;
  font-size: 14px;
  padding: 20px 37px;
  color: #fff;
  background: #a0bfbd;
  border-radius: 2px;
  text-decoration: none;

  transition: all 0.5s ease;
}

footer .faq {
  margin-left: 23%;
  float: left;
  font-weight: 400;
  font-size: 14px;
  padding: 20px 37px;
  background: #a0bfbd;
  border-radius: 2px;
  color: #fff;
  transition: all 0.5s ease;
}

footer .faq:hover {
  background: #e7e8ed;
  color: #1a1a1a;
  -webkit-transition: all 1s ease;
  transition: all 1s ease;
}

footer p {
  font-family: Arial, Helvetica, sans-serif;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 12px;
}

footer a {
  display: flex;
  justify-content: center;
  align-items: center;
}

.fa-facebook {
  text-decoration: none;
  color: #fff;
  display: flex;
  padding: 4px 10px;
  font-size: 30px !important;
  transition: 0.5s;
}

.fa-instagram {
  margin: 0 0 0 47%;
  text-decoration: none;
  color: #fff;
  display: flex;
  padding: 4px 6px;
  font-size: 30px !important;
  transition: 0.5s;
}

.fa-mail {
  text-decoration: none;
  color: #fff;
  display: flex;
  padding: 4px 5px;
  font-size: 30px !important;
  transition: 0.5s;
}

.fa-facebook:hover {
  background: #3b5999;
  border-radius: 15%;
  transition: 0.5s;
}

.fa-instagram:hover {
  background: linear-gradient(45deg, #ffd900, #e4405f, #b300ff);
  border-radius: 15%;
  transition: 0.5s;
}

.fa-mail:hover {
  background: #e7e8ed;
  border-radius: 15%;
  color: #5a5a5a;
  padding: 4px 5px;
  transition: 0.5s;
}
