* {
  margin: 0;
  padding: 0;
  font-family: Verdana;
  box-sizing: border-box;
}

::-webkit-scrollbar {
  width: 10px;
}

/* Track */
::-webkit-scrollbar-track {
  background: #b7c9e8;
}

/* Handle */
::-webkit-scrollbar-thumb {
  background: #c8ccd6;
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
  background: #a0bfbd;
}

body {
  background: url(back.webp);
  background-size: 100%;
  margin-top: auto;
  margin-bottom: auto;
}

.img {
  float: center;
  padding: 0;
  height: 25%;
  border-radius: 100%;
  display: block;
  margin-left: auto;
  margin-right: auto;
  margin-top: 5%;
  width: 15%;
}

h1 {
  font-size: 20px;
  text-align: center;
  color: #ffffff;
  margin: 3% auto 20px auto;
  padding-bottom: 15px;
}

p {
  text-align: center;
  color: #ffffff;
  font-size: 10px;
  line-height: 25px;
  padding: 1px 0;
}

nav {
  display: flex;
  flex-wrap: wrap;
}

nav a {
  flex-basis: 100%;
  margin: 10px 200px;
  font-size: 20px;
  color: #80abe2;
  background-color: #ffffff;
  cursor: pointer;
  text-decoration: none;
  text-align: center;
  -webkit-transition: all 0.7s ease;
  transition: all 0.7s ease;
  border-radius: 15px;
  padding: 2% 15%;
}

nav a:hover {
  background-color: #80abe2;
  color: #ffffff;
  cursor: pointer;
}

@media (max-width: 768px) {
 .img {
    width: 30%;
  }
  nav {
    flex-direction: column;
  }
  nav a {
    font-size: 20px;
  }
}
