* {
  margin: 0 0 0 0;
  padding: 0 0 0 0;
  font-family: Verdana;
  box-sizing: border-box;
}

::-webkit-scrollbar {
  width: 10px;
}

/* Track */
::-webkit-scrollbar-track {
  background: #b7c9e8;
}

/* Handle */
::-webkit-scrollbar-thumb {
  background: #c8ccd6;
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
  background: #a0bfbd;
}

body {
  background: #CDCCCA;
}

img {
  width: 50%;
  margin: 2% auto 0 23%;
}

h1 {
  font-size: 50px;
  font-weight: 100;
  color: #333;
  display: flex;
  justify-content: center;
  margin-top: 3%;
}

@media (max-width: 1000px) {
  * {
    margin: 0 0 0 0;
    padding: 0 0 0 0;
    font-family: Verdana;
    box-sizing: border-box;
  }
  
  ::-webkit-scrollbar {
    width: 10px;
  }
  
  /* Track */
  ::-webkit-scrollbar-track {
    background: #b7c9e8;
  }
  
  /* Handle */
  ::-webkit-scrollbar-thumb {
    background: #c8ccd6;
  }
  
  /* Handle on hover */
  ::-webkit-scrollbar-thumb:hover {
    background: #a0bfbd;
  }
  
  body {
    background: #CDCCCA;
  }
  
  img {
    width: 90%;
    margin: 20% 0 0 5%;
  }
  
  h1 {
    font-size: 50px;
    font-weight: 100;
    color: #333;
    display: flex;
    justify-content: center;
    margin-top: 50%;
  }
}
