@media screen and (max-width: 600px) {
  .top-line {
    height: 20px;
  }

  .back-main {
    font-size: 18px;
  }

  .li {
    margin: auto;
  }

  .a {
    padding: 3px;
    letter-spacing: 3px;
    font-size: 7px;
  }

  .active {
    padding: 3px;
    letter-spacing: 3px;
    font-size: 7px;
  }

  .a:hover {
    padding: 3px;
    letter-spacing: 3px;
    font-size: 7px;
  }

  .about-home .about-tiana-img {
    width: 50%;
    margin: 0 5% 0 0;
    margin-top: 16%;
  }

  .about-home h2 {
   
  }

  .about-home h1 {
    font-size: 22px;
  }

  .about-home p {
    font-size: 18px;
  }

  .about-tiana-img {
    margin: 3% 0 0 7%;
    float: left;
    padding: 5px 5px 30px 5px;
  }

  .about-title {
    font-family: Arial, Helvetica, sans-serif;
    text-transform: uppercase;
    margin-left: 50%;
    letter-spacing: 3px;
    font-size: 18px;
    font-weight: 300;
  }

  .about-text {
    font-family: "Quicksand", sans-serif;
    font-weight: 300;
    max-width: 50%;
    margin: 1% auto 0 35%;
    letter-spacing: 1px;
  }

  .name-tiana {
    font-family: "Great Vibes", cursive;
    font-weight: 100;
    margin: 1% auto 0 60%;
  }

  .cytata {
    font-family: "Great Vibes", cursive;
    margin: 3% auto 0 50%;
    font-size: 23px;
    letter-spacing: 3px;
  }

  .about-back-back {
    padding: 1% 0 3% 0;
    margin: 0 15%;
    background-color: #a0bfbd;
    color: #fff;
  }

  .div-home {
    background: #a0bfbd;
    padding: 2% 20% 0 20%;
    margin-bottom: 2%;
  }
  
  .div-home img {
    padding: 5px;
    width: 110%;
    margin-left: -5%;
  }

  div.about-home {
    padding-bottom: 7%;
  }

  div.about-home img {
    margin: 10% auto auto 20%;
    float: left;
    width: 20%;
  }

  div.about-home h2 {
    font-family: "Quicksand", sans-serif;
    letter-spacing: 3px;
    font-size: 18px;
    font-weight: 600;
    color: #2e5e61;
    margin-bottom: 6%;
  }

  div.about-home h1 {
    font-family: "Quicksand", sans-serif;
    margin: auto auto auto 50%;
    font-weight: 600;
    color: #2e5e61;
    font-size: 20px;
  }

  div.about-home p {
    font-family: "Quicksand", sans-serif;
    font-size: 16px;
    font-weight: 600;
    max-width: 50%;
    margin-left: 55%;
    margin-bottom: 10%;
    color: #2e5e61;
  }

  div.about-home .button-about {
    margin: auto auto 0 30%;
    font-weight: 400;
    font-size: 14px;
    padding: 10px 18px;
    border-radius: 2px;
  }

  .text2 {
    max-width: 50%;
  }

  .message-sent {
    background: #a0bfbd;
    color: #fff;
    max-width: fit-content;
    padding: 12px;
    margin-bottom: 6%;
    display: flex;
    justify-content: center;
  }

  .message-sent-div {
    margin: 23% 0 27% 0;
  }

  footer {
    background: #a0bfbd;
    color: #fff;
    margin-top: 4%;
    padding: 15px 0 40px 0;
  }

  footer .shipping {
    margin: auto;
    float: right;
    font-weight: 400;
    font-size: 14px;
    padding: 0;
    margin-bottom: 1%;
  }

  footer .faq {
    margin: auto;
    float: unset;
    padding: 10px 18px;
    display: flex;
    justify-content: center;
  }

  footer .faq:hover {
    background: #e7e8ed;
    color: #1a1a1a;
    -webkit-transition: all 1s ease;
    transition: all 1s ease;
  }

  footer p {
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 12px;
    margin: auto;
    width: 100%;
  }

  .fa-facebook {
    padding: 4px 10px;
    margin-top: 1%;
  }

  .fa-instagram {
    margin-left: 25%;

    padding: 4px 6px;

  }

  .fa-mail {

    margin-right: 30%;
    padding: 4px 5px;

  }

  .fa-facebook:hover {

  }

  .fa-instagram:hover {

  }

  .fa-mail:hover {
    padding: 4px 5px;
  }
}
